body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff6bf;
}

#title {
    font-size: 4rem;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
}

canvas {
    display: block;
}